<nav>
  <div class="container">
    <ul class="navbar-left">
      <li><a href="\">Home</a></li>
      <li><a href="login"><i class="fas fa-user"></i> Login</a></li>
      <li><a href="registration"><i class="fas fa-user-plus"></i> Registration</a></li>
    </ul> <!--end navbar-left -->

    <ul class="navbar-right">
      <li><i class="fas fa-heart"><span class="badge">{{wishListCounter}}</span></i></li>
      <!-- Button trigger modal -->
      <li><a data-toggle="modal" data-target="#exampleModal" id="cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">{{cartCounter}}</span></a></li>
    </ul> <!--end navbar-right -->
  </div> <!--end container -->
</nav>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cart Items</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table>
            <thead>
              <th>Item Name</th>
              <th>Options</th>
            </thead>
            <tbody>
              <tr *ngFor= "let item of cartItems; let i = index">
                <td>{{item.Name}}</td>
                <td><button class="btn btn-danger" (click) = "removeItem(i)">X</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <a href="/cart" class="button">Go To Cart</a>        
        </div>
      </div>
    </div>
  </div>

