<ng-template [ngIf] = "products != undefined">
  <html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div class="product-img">
      <img src="{{products[productId].Url}}" height="420" width="500">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{products[productId].Name}}</h1>
        <h2>Top Rated Car</h2>
        <p>{{products[productId].Description}}</p>
      </div>
      <div class="product-price-btn">
        <p><span>{{products[productId].Price}}</span>$</p>
      </div>
    </div>
  </div>

</body>

</html>
</ng-template>

